.risk-calculator {
    display: flex;
    padding-top: 5rem;
}

.icon {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}